body {
  background: linear-gradient(
    90deg,
    rgb(87, 209, 231) 25%,
    rgb(224, 143, 220) 100%

  );
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 45%;
  min-height: 500px;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 30px;
  background-color: #F5F5DC;
}
h1{
  margin-top: 0.5rem;
  color: #483D8B;
}
input{
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  width: 50%;
  height: 35px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #483D8B;  
}
input:focus{
  outline: none;
}
